### Get all tickers

In [6]:
tickers_nyse_df = pd.read_csv("data/nyse-listed.csv").loc[:, ['ticker', 'sharesOutstanding']].set_index('ticker')
tickers_nasdaq_df = pd.read_csv("data/nasdaq-listed.csv").loc[:, ['ticker', 'sharesOutstanding']].set_index('ticker')
tickers_snp500_df = pd.read_csv("data/snp500-listed.csv").loc[:, ['ticker', 'sharesOutstanding']].set_index('ticker')

In [15]:
all_tickers_df = tickers_nyse_df.join(tickers_nasdaq_df, how='outer', rsuffix='_nasdaq').join(tickers_snp500_df, how='outer', rsuffix='_snp500')

In [16]:
all_tickers_df.head()

        sharesOutstanding  sharesOutstanding_nasdaq  sharesOutstanding_snp500
ticker
A             302000992.0                       NaN               302000992.0
AA            187103008.0                       NaN                       NaN
AAC           100000000.0                       NaN                       NaN
AACG                  NaN                31376900.0                       NaN
AACI                  NaN                20709500.0                       NaN

## Find tickers which are actively trading these days.

In [22]:
tickers_nyse_df.append(tickers_nasdaq_df).append(tickers_snp500_df).to_csv('data/shares_outstanding')

In [23]:
tickers_df = pd.read_csv('data/shares_outstanding.csv',index_col='ticker')

In [29]:
tickers_df.head().loc[['A','AA'],'sharesOutstanding'].dropna().to_dict()

{'A': 302000992.0, 'AA': 187103008.0}

In [96]:
importlib.reload(dataloader)

In [97]:
for idx,row in all_tickers[all_tickers['quoteType']=='EQUITY'].iterrows():
    ticker = row['ticker']
    if dataloader.isLiquid(ticker):
        liquid_tickers.add(ticker)

[*********************100%***********************]  1 of 1 completed

In [98]:
len(liquid_tickers)

4757

In [99]:
liquid_df = pd.DataFrame({'ticker':list(liquid_tickers)})

In [100]:
liquid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4757 entries, 0 to 4756
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  4757 non-null   object
dtypes: object(1)
memory usage: 37.3+ KB

In [101]:
liquid_df.to_csv('data/liquid_tickers.csv')

In [3]:
sho = pd.read_csv('data/shares_outstanding.csv', index_col='ticker').dropna().drop_duplicates(keep='first')

In [4]:
sho.head()

        sharesOutstanding
ticker
A             302000992.0
AA            187103008.0
AAC           100000000.0
AAN            31483200.0
AAP            62355200.0

In [5]:
sho.to_csv('data/shares_outstanding.csv')